<nav>
  <ul>
    <li><a href="#home" onclick="navigate('home')">Mājas</a></li>
    <li><a href="#car-list" onclick="navigate('car-list')">Skatīt mašīnas</a></li>
    <li><a href="#booking" onclick="navigate('booking')">Veikt rezervāciju</a></li>
    <li><a href="#payment" onclick="navigate('payment')">Maksāt</a></li>
    <li><a href="#login" onclick="navigate('login')">Pieslēgties</a></li>
    <li><a href="#register" onclick="navigate('register')">Reģistrēties</a></li>
    <li><a href="#profile" onclick="navigate('profile')">Profils</a></li>
    <li><a href="#logout" onclick="" id="logout">Iziet</a></li>
  </ul>
</nav>
