/* Styling for main page reset */
body {
    font-family: Arial, sans-serif;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    background: #333;
  }
  
  nav ul li {
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background: #575757;
  }
  
  #content {
    padding: 20px;
  }
  
  .car-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
  }


/* Styling main */

/* Navbar styling */
#header-logo {
  width: 303px;
  height: 62px;
}